/*Colors*/
$light-cyan: #cee3e9;
$neon-green: #52ffa8;
$grayish-blue: #4e5d73; 
$dark-grayish-blue: #323a49;
$dark-blue: #1f2632; 
$white: #ffffff;

/*Fonts*/
$manrope: "Manrope", sans-serif;
$font-size-quote: 28px;
$font-weight: 800;

/*Screen widths*/
$mobile-width: 375px;
$desktop-width: 1440px;


