@page "/"
@inject IApiConnector<Root> ApiConnector


<div class="article-content">
    <h1 class="article-title">
        advice #
        @if (_quote != null)
        {
            @_quote.slip.id
        }
    </h1>

    <p class="article-text">
        @if (_quote != null)
        {
            <q>
                @_quote.slip.advice
            </q>
        }
    </p>

    <img class="article-img" src="Images/pattern-divider-mobile.svg" alt="divider-mobile" />

    <button class="btn-quote" type="submit" @onclick="GiveANewQuoteAsync">
        <img class="btn-quote-img" src="Images/icon-dice.svg" alt="dice" />
    </button>
</div>


<footer class="attribution">
    Coded by Justine Vanwynsberghe.
</footer>

@code
{
    private Root? _quote;

    protected override async Task OnInitializedAsync()
    {
        _quote = await ApiConnector.GetAsync("https://api.adviceslip.com/advice");
    }

    private async Task GiveANewQuoteAsync()
    {
        _quote = await ApiConnector.GetAsync("https://api.adviceslip.com/advice");
    }



}
